# Polars

A fast data frames library as a drop-in (?) replacement for Pandas.

In [2]:
import polars as pl

df = pl.DataFrame(
     {
         'Model': ['iPhone X','iPhone XS','iPhone 12',
                   'iPhone 13','Samsung S11','Samsung S12',
                   'Mi A1','Mi A2'],
         'Sales': [80,170,130,205,400,30,14,8],     
         'Company': ['Apple','Apple','Apple','Apple',
                     'Samsung','Samsung','Xiao Mi','Xiao Mi'],
     }
)
df

shape: (8, 3)
┌─────────────┬───────┬─────────┐
│ Model       ┆ Sales ┆ Company │
│ ---         ┆ ---   ┆ ---     │
│ str         ┆ i64   ┆ str     │
╞═════════════╪═══════╪═════════╡
│ iPhone X    ┆ 80    ┆ Apple   │
│ iPhone XS   ┆ 170   ┆ Apple   │
│ iPhone 12   ┆ 130   ┆ Apple   │
│ iPhone 13   ┆ 205   ┆ Apple   │
│ Samsung S11 ┆ 400   ┆ Samsung │
│ Samsung S12 ┆ 30    ┆ Samsung │
│ Mi A1       ┆ 14    ┆ Xiao Mi │
│ Mi A2       ┆ 8     ┆ Xiao Mi │
└─────────────┴───────┴─────────┘

In [4]:
df.dtypes

[Utf8, Int64, Utf8]

In [5]:
df.select(
    ['Model','Company']
)

shape: (8, 2)
┌─────────────┬─────────┐
│ Model       ┆ Company │
│ ---         ┆ ---     │
│ str         ┆ str     │
╞═════════════╪═════════╡
│ iPhone X    ┆ Apple   │
│ iPhone XS   ┆ Apple   │
│ iPhone 12   ┆ Apple   │
│ iPhone 13   ┆ Apple   │
│ Samsung S11 ┆ Samsung │
│ Samsung S12 ┆ Samsung │
│ Mi A1       ┆ Xiao Mi │
│ Mi A2       ┆ Xiao Mi │
└─────────────┴─────────┘

In [6]:
df.filter(
    pl.col('Company') == 'Apple'
).select('Model')

shape: (4, 1)
┌───────────┐
│ Model     │
│ ---       │
│ str       │
╞═══════════╡
│ iPhone X  │
│ iPhone XS │
│ iPhone 12 │
│ iPhone 13 │
└───────────┘